.ask{
    background-color: #101010;
    color: black;
padding-top: 208px;
display: flex;
    flex-flow: column nowrap;
    padding-bottom: 77px;

p{
    width: 100%;
    margin-top: 17px;
font-family: iran;
font-size: 1.1rem;
line-height: 24px;
color: #fff;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}
span{
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #9e9e9e;
font-family: iran;

}

}
.accordion-question {
    width: 79%;
    position: relative;
    color: white;
    cursor: pointer;
    padding: 22px 12px 22px 30px;
    border: 1px solid #333;
    transition: color 0.3s;
    font-size: 12px;
    font-weight: bold;
    background-color: #161616;
    font-family: iran;
     line-height: 24px;
     color: #fff;
     cursor: pointer;
     border-radius: 6px;
     margin-top: 22px;
     margin-right: 23px;
 
  }
  
  .accordion-question::before {
    content: "+";
    position: absolute;
    left: 10px;
    color: gold;

    font-size: 20px;
    transition: all 0.3s ease;
  }
  
  .accordion-question.active {
    color: #DA773A;
    
  }
  
  .accordion-question.active::before {
    content: "×";
    color: gold;
  }
  
  .accordion-answer {
    width: 82%;
    font-family: iran;
    line-height: 24px;
    cursor: pointer;
    border-radius: 6px;
    display: none;
    color: #ccc;
    padding: 22px 15px;
    background-color: #222;
    font-size: 12px;
    line-height: 1.6;
    margin-right: 23px;
    border-bottom: 1px solid #333;
    font-family: iran;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.6s ease 0.3s, opacity 0.6s ease 0.3s;
    
  }
  
  .accordion-question.active + .accordion-answer {
    max-height: 200px; 
    opacity: 1;
    padding: 10px 15px;
    transition: max-height 0.6s ease 0.3s, opacity 0.6s ease 0.3s;
  }