
header{
    width: 100%;
    /* height: 50px; */
    background-color: #040404;
    
    nav{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
        .right{
            height: 100%;
                  width: 100%;
            display: flex;
            flex-flow: row nowrap;
      align-items: center;
      .logo{
        display: flex;
        flex-flow: row nowrap;
  align-items: center;
      img{
        width: 50%;
        padding-right: 33px;
   
     }
     .khat{
        color: rgb(165, 164, 164);
            
         
    }
    }
          
            ul{
                width: 100%;
                height: 100%;
                list-style: none;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 0px;
            
                li{
                    width:  100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                  
           
                            img{
                                       width: 17%;
                                padding-left: 5px;
                            }
                 
                 
            
                    a{
                        color: beige;
                        text-decoration: none;
                        transition: 500ms;
                        font-family: iran;
                        font-size: 13px;
                        &:hover{
                            color: gold;
                        }
                  
                    }
                }
            }
        }
    }
}

.left{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    gap: 20px;
    /* padding-left: 15px; */
    .sub{
    width: 114px;

    
        img{
            width: 17%;

        }
        button{
            all: unset;
            padding: 10px;
            box-sizing: border-box;
            background-color: #1CB561;
            
            color: white;
            cursor: pointer;
            border-radius: 5px;
            font-family: iran;
            font-size: 11px;
            transition: 500ms;
            &:hover{
                background-color: #17924E;
            }
        }
    }
    .login{
        button{
            all: unset;
            padding: 10px 14px;
            box-sizing: border-box;
            background-color: #363636;
            color: aliceblue;
            cursor: pointer;
            border-radius: 5px;
            font-family: iran;
                     font-size: 11px;
                     font-weight: bold;
            transition: 500ms;
            &:hover{
                background-color: #424242;
            }
        }
    }
}


